<ul id="items-list" class="list-group">
  <li class="list-group-item" ng-repeat="item in items">

    <button ng-click="onRemove({index: $index});" type="button" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span>
      Don't want this one!
    </button>

    <span class="label label-success">{{item.short_name }}</span>
    <span class="item-name">{{ item.name }}</span>
    <br>
    <span class="item-description">{{ item.description }}</span>
  </li>
</ul>

<div ng-if="foundCtrl.isBeforeSearch()" class="message">Please input search term above and click NARROW IT DOWN FOR ME!</div>
<div ng-if="foundCtrl.isNothingFound()" class="message">Nothing found.</div>

<div ng-if="message.length > 0" class="alert alert-danger" role="alert">{{ message }}</div>
